/* Custom CSS to add logo to the header */
div.header {
    display: flex;
    align-items: center;
}

div.header .logo img {
    content: url("/_static/images/Drift_Lens_Logo.png");
    max-height: 50px;  /* Adjust the height as needed */
    width: auto;       /* Maintain aspect ratio */
}

/* Hide default project name if necessary */
div.header .project-title {
    display: none;
}
